body {
  margin: 0px;
  padding:0px;
  font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #ddd;
}
a {
  text-decoration:none;
}
h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; text-transform: capitalize; line-height: 1; text-align: center;}


h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 15px; text-align: center; }


p { color: #333333; font-family: "Helvetica Neue",Arial,sans-serif; font-size: 16px; font-weight: 300; line-height: 1.5625; margin: 0;}

nav {
  box-shadow:0 1px 1px #ccc;
  font:16px Arial, Helvetica, sans-serif;
  padding:20px 40px;
  height:40px;
  background:#292c2f;
  color:#fff;
}
nav .wrapper .left {
  min-width:410px;
}
.wrapper{
  width: 60%;
  min-width: 1000px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.adminwrapper{
  width: 60%;
  max-width: 400px;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.njc{
  justify-content: flex-start;
}
.auto{
  margin: 0 auto;
}
nav .wrapper, footer .wrapper {
  display:flex;
  max-width: 1216px !important;
  margin:0 auto;
  min-width: 900px;
  justify-content:space-between;
}
nav .wrapper .left ul, nav .wrapper .right ul {
  list-style-type:none;
  width:100%;
  margin:11px 10px 10px 60px;
  padding:0px;
}
nav .wrapper .left ul li, nav .wrapper .right ul li {
  display:inline;
  padding: 10px 5px;
  font-size:14px;
}
nav .wrapper .left ul li a, nav .wrapper .right ul li a  {
  color:#E0DEDE;
  text-decoration: none;
}
nav .wrapper .left ul li a:hover, nav .wrapper .right ul li a:hover {
  opacity:1;
  color:#fff;
}
#signup {
  background:#3a3c3e;
  padding:10px 15px;
  margin-left:10px;
  border-radius:3px;
  font-weight:bold;
}
.signupmb{
  background:#3a3c3e;
  padding:10px 15px;
  margin-left:10px;
  border-radius:3px;
  font-weight:bold;
}
#logo {float:left;}

#clear {clear:both;}

/* JQUERY CSS */

#aboutToggle {
  padding: 5px;
  text-align: center;
  background-color: #75affc;
  border: solid 1px black;
}
#about , #aboutme , #aboutbrock , #aboutjordan , #aboutian{
  background-color:#eee ;
  display: none;
}
#meToggle , #brocktoggle , #jordantoggle , #iantoggle {
  margin-top: 30px;
  padding: 5px;
  text-align: center;
  background-color: #75affc;
  border: solid 1px black;
}

.about-box{
  text-align: center;
  font-weight: bold;
  margin: 0 0 15px;
}
.followerspop.div , .followedpop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}
.close{
  float: right;
}
.followerspop, .followedpop{
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  width:400px;
  padding: 20px 20px 5px 20px;
}
.grid-stack {
  background: #75affc;
}
header{
  font-weight: bold;
}
.grid-stack-item-content {
  color: black;
  text-align: center;
  background-color: #ccc;
}
/* end of JQUERY CSS */

.block{
  display: block;
}
.profile{
  width: 25%;
}
.mt9{
  margin-top: 9px;
}
.mt4{
  margin-top: 4px;
}
.profile-box, .signup-box{
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #fff;
  padding: 16px 20px 30px;
}
.signup-box{
text-align: center;
}
.profile-boxmb, .signup-boxmb{
  width: 100%;
  background-color: #fff;
  display: none;
  text-align: center;
  padding-bottom: 5px;
}
.editrank{
}
.feed{
  width: 75%;
}
.profile-feed{
  max-width: 1000px;
}
.feed-item{
  background-color: #eee;
  margin-top: 10px;
  border: 2px solid #eee;`
}
.feed-description{
  padding: 10px;
  display: flex;
}
.viderror{
  margin: 0 auto;
  max-width: 1000px;
}
.username-wrapper{
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
}
#user-avatar{
  border: 1px solid #666;
  border-radius: 100px;
  overflow: hidden;
  width: 60;px;
  height: 60px;
}
.user-stats{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.follow-display{
  width:300px;
  padding: 10px 5px;
  display: flex;
  background-color: #eee;
  margin-bottom: 5px;
  justify-content: space-between;
  border: 1px solid black;
}
.follow-avatar{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 1px solid #666;
  border-radius: 50%;
}
.settings-avatar{
  border-radius: 50%;
  width: 138px;
  height: 138px;
  border: 4px solid #fff;
}
.settings-avatar-box{
  margin: 20px 0;
  display: block;
}
.upload-avatar{
  width:138px;
  margin: 0 auto;
}
.paypal{
  width: 92px;
  height: 26px;
}
input, textarea {
  display: block;
  outline: 0;
  padding: 11px;
  font-size: 14px;
  width: 100%;
  margin-top: 2px;
}
.field-wrap{
  margin-bottom: 10px;
}
.field-wrap-avatar{
  margin-bottom: 10px;
  text-align: center;
}
#login{
  background-color: #fff;
  padding: 40px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 0px 5px rgba(0,0,0,0.5);
}
.login-container, .signup-container{
  overflow: hidden;
  margin: 0 auto;
  width: 500px;
  padding: 20px 55px;
}
.profile-login{
  border: 1px solid black;
  color: #000;
  border-radius: 3px;
  background-color: #f90;
  font-size: 17px;
  font-weight: bold;
  padding: 8px 20px;
  text-decoration: none;
  font-family: 'Montserrat', arial, sans-serif;
  text-transform: uppercase;
}
.profile-signoutmb{
  border: 1px solid black;
  color: #000;
  border-radius: 3px;
  background-color: #f90;
  font-size: 17px;
  font-weight: bold;
  padding: 8px 20px;
  text-decoration: none;
  font-family: 'Montserrat', arial, sans-serif;
  text-transform: uppercase;
}
.loginbtn, .signupbtn{
    display: inline-block;
    border: 1px solid black;
    color: #000;
    border-radius: 3px;
    background-color: #f90;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 20px;
    text-decoration: none;
    font-family: 'Montserrat', arial, sans-serif;
    text-transform: uppercase;
}
.editbtn{
  float: right;
  margin: 5px 5px 0 0;
}
.author-name{
  text-transform: capitalize;
  display: inline-block;
  font-weight: 700;
  margin-right: 5px;
  color: #75affc;
}
.username, .usernamemb{
  text-transform: capitalize;
  font-size: 1.5em;
  width: 60%;
  line-height: 60px;
  color: black;
  font-weight: 700;
}
.usernamemb{

}
.avatar{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 1px solid #666;
  border-radius: 50%;
}
.comment-avatar{
  width:30px;
  height:30px;
}
.comment-list{
  background-color: #fff;
  padding: 0 10px 5px 10px;
}
.comment-entry{
  width: 95%;
  padding:5px;
  display: flex;
  margin-left: 30px;
}
.delete-comment{
  padding:0px 4px;
  height: 18px;
  margin-top: 7px;
}
.delete-video{
  overflow: hidden;
  padding:0px 4px;
  height: 18px;
  margin-top: 11px;
}
#slides{
  width: 100%;
}
.redirect{
  color: #75affc;
}
.loginbtn:hover, .signupbtn:hover, .profile-login:hover{
  background-color: #ffa31a;
  cursor: pointer;
}
.choose-file{
  border: rgba(117, 175, 252, 0.46) solid 3px;
  padding: 0;
  width:220px;
}
.submit-file{
  width:100%;
}
.profile-header{
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  background-color: #efefef;
  max-width: 1000px;
  margin: 0 auto;
  margin-top:40px;
  margin-bottom: 40px;
  border: 2px solid #eee;
  position: relative;
  height: 100px;
}
figure.profile-banner {
  left: 0;
  overflow: hidden;
  top: 0;
}

figure.profile-picture {
  background-position: center;
  background-size: cover;
  border: 5px #efefef solid;
  border-radius: 50%;
  bottom: -50px;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2), 1px 1px 4px rgba(0,0,0,0.3);
  height: 148px;
  position: absolute;
  width: 148px;
}

div.profile-stats {
  bottom: 0;
  left: 0;
  padding: 0px 0px 0px 250px;
  position: absolute;
  right: 0;
  background-color: rgba(41, 44, 47, 0.6);
}
div.profile-stats ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.profile-stats ul li {
  color: #efefef;
  display: block;
  float: left;
  font-size: 24px;
  font-weight: bold;
  margin-right: 50px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7)
}
.profile-header>h1 {
  text-transform: capitalize;
  margin-left: -100px;
  margin-top: 5px;
  top: 0;
  font-size: 40px;
  left: 350px;
  position: absolute;
}
div.profile-stats li span {
  display: block;
  font-size: 16px;
  font-weight: normal;
}
.edit-profile-container{
  overflow: hidden;
  width: 700px;
  padding: 20px 55px;
}
.edit-profile-heading{
  font-size: 20px;
}
.edit-username{
  margin-left: 5px;
  font-weight: bold;
}
#edit-password{
  float: right;
  width: 90%;
  display: none;
}
.vid-description{
  display: block;
  outline: 0;
  padding: 5px;
  font-size: 1em;
  border: 1px solid #ccc;
  width: 100%;
  margin-top: 2px;
}
.follow{
  color: #71b6ff;
}
.bold{
  font-weight: bold;
}
.upload-form{
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
.input.is-danger{
  border-color: #ff3860;
}
.help.is-danger{
  color: #ff3860;
}
footer {
  background:#292c2f;
  font: bold 16px arial;
  padding:30px;
  margin-top:10px;
}
footer .wrapper {
  max-width:100%;
  text-align:left;
}
footer .wrapper .left {
  width:75%;
}
footer .wrapper .left ul {
  list-style-type:none;
  margin:10px 0px 0px 0px;
  padding:0px;
}
footer .wrapper .left ul li {
  display:inline;
}
footer .wrapper .left ul li a {
  color:#fff;
  text-decoration: none;
  font-weight:bold;
}

#copyright {
  color:#8f9296;
  font-weight:normal;
  display:block;
  margin:15px 0px;
  font-size:14px;
}
.footer-icons {
  margin-top:25px;
}
.footer-icons a {
  display: inline-block;
	width: 35px;
  padding:10px 5px 10px 5px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;

	margin-right: 3px;
	margin-bottom: 5px;
}
.pop {
	z-index:10;
}
footer .wrapper .right h3 {
  margin: 10px 42px 35px 0;
	color: #ffffff;
  font-size:16px;
}

footer .wrapper .right form input,
footer .wrapper .right form textarea {
  display:block;
  border-radius:3px;
  background: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border:none;
  outline:none;
  margin: 10px 0px;
  resize:none;
  font-size:14px;
  font-weight:normal;
  color:  #d1d2d2;
  width:375px;
  padding:18px;
}
footer .wrapper .right form textarea {
  height:100px;
}
footer .wrapper .right form input[type='submit'] {
  background-color:  #33383b;
	color: #ffffff;
  padding:15px 50px;
  font-weight:bold;
  width:150px;
}
@media all and (max-width:725px) {
  nav .wrapper .right {
    display:none;
  }
  .third-container{
    width: 100%;
  }
  .signup-boxmb{
    display: block;
  }
  .profile-boxmb{
    display: block;
  }
  .username-wrapper{
    justify-content:center;
  }
}

@media all and (max-width : 1000px) {
  nav{
    padding: 10px 20px;
  }
  .wrapper, .adminwrapper  {
    min-width:100px !important;
    width:100%;
    overflow:hidden;
  }
  footer .wrapper .right {
    display:none;
  }
  footer {
    padding: 30px 0px 30px 0px;
  }
  footer .wrapper .left {
    width:100%;
    margin:0 auto;
    text-align:center;
  }
  .paypal{
    margin: 0 auto;
  }
  .edit-profile-container{
    overflow: hidden;
    width: 700px;
    padding: 20px 30px;
  }
  .delete-account{
    position: absolute;
    right: 30px;
  }
  .feed, .profile-feed{
    width: 100%;
  }
  .profile{
    display:none;
  }
  .follow-display{
    width: 100%;
  }
}


@media all and (max-width:600px) {
  #logo {float:none;}
  nav {height:auto;}
  nav .wrapper .left ul {
    margin:10px 0px 0px;
  }
  nav .wrapper .left ul li, nav .wrapper .right ul li {
    padding: 3px 1px;
    font-size:13px;
  }
  div.profile-stats{
    padding:0px 0px 0px 90px;
  }
  div.profile-stats ul li {
    margin-left: 12px;
    font-size: 12px;
    margin-right: 0px;
  }
  .profile-header>h1 {
    margin-left: -240px;
    margin-top: 5px;
    top: 15px;
    font-size: 40px;
    left: 350px;
    position: absolute;
  }
  .profile-header{
    margin-top: 5px;
  }
  .editbtn{
    margin:5px 10px 0 0;
  }
  figure.profile-picture{
    width: 100px;
    top: -17px;
    height: 100px;
    left: -40px;
    border: none;
  }
  .login-container, .signup-container{
    width: 100%;
    padding: 0;
  }
  #login, #signup{
    padding:20px 0px 20px;
    width: 100%;
  }
}
